# Animaux - traitement_des_datas

Commencer par exécuter la cellule de code ci-dessous.

In [8]:
import csv
import pandas

def charger_fichier( nom_fic ):
    """
    Permet de lire un fichier CSV en utilisant la ligne d'entêtes
    Retourne une liste de dictionnaires.
    """
    table = []
    fichier_csv = open( nom_fic , "r", newline ="", encoding ="iso-8859-1" )
    lecteur_fichier = csv.DictReader( fichier_csv , delimiter ="\t")    
    for enreg in lecteur_fichier :
        table.append (dict ( enreg )) # enreg est de type OrderedDict on le remet endict
    fichier_csv.close()    
    return table

def enregistrer_en_csv(chemin_fichier, table):
    with open(chemin_fichier, 'w', newline='', encoding = 'iso-8859-1') as csvfile:
        fieldnames = table[0].keys()
        writer = csv.DictWriter(csvfile, fieldnames=fieldnames, delimiter = '\t')
        writer.writeheader()
        for row in table:
            writer.writerow(row)

def afficher(table):
    f = pandas.DataFrame(table)
    return f

a1 = charger_fichier('./achats.csv')
a2 = charger_fichier('./achats2.csv')
a3 = charger_fichier('./achats3.csv')
c = charger_fichier('./clients.csv')

In [9]:
import random

mails = [cx['mail'] for cx in c]
l = [a1, a2, a3]

for ax in l:
    for aix in ax :
        aix['mail'] = random.choice(mails)

aaa = a1 + a2 + a3

enregistrer_en_csv('./montants.csv', aaa)

In [10]:
sd = set([m['mail'] for m in aaa])
len(sd)

955

In [3]:
afficher(c)

,prenom_nom,mail,adresse,code_postal,ville,etat
0,Grannie Cossins,gcossins0@mysql.com,89650 Valley Edge Alley,78215,San Antonio,Texas
1,Phillis Goodanew,pgoodanew1@shop-pro.jp,54 4th Street,95894,Sacramento,California
2,Maureen Grassett,mgrassett2@squarespace.com,39828 Londonderry Court,94110,San Francisco,California
3,Carolynn Steedman,csteedman3@yahoo.co.jp,293 Marcy Alley,91841,Alhambra,California
4,Winifred Orrah,worrah4@yellowbook.com,77 Red Cloud Avenue,75210,Dallas,Texas
...,...,...,...,...,...,...
995,Thebault Ranald,tranaldrn@ucsd.edu,88513 Pleasure Terrace,77070,Houston,Texas
996,Peggi Rosendale,prosendalero@upenn.edu,29606 Miller Park,94159,San Francisco,California
997,Pearle Knutsen,pknutsenrp@nbcnews.com,79 Grasskamp Parkway,93591,Palmdale,California
998,Lock Maith,lmaithrq@bandcamp.com,41 Veith Junction,92165,San Diego,California
999,Ewell Scarr,escarrrr@bloglines.com,7907 Jenna Terrace,14683,Rochester,New York

In [4]:
afficher(a1)

                              mail       carte  montant        date     heure
0                ggomby0@google.pl  mastercard   $55.76  07/04/2021  10:27:27
1           cbeames1@instagram.com  mastercard  $603.40  18/02/2021  19:59:30
2            iscarsbrooke2@ucoz.ru  mastercard  $228.05  31/01/2021   6:15:44
3                 raggas3@about.me  mastercard  $301.25  11/03/2021   7:31:23
4            lchmarny4@myspace.com  mastercard  $126.55  01/04/2021   6:39:13
..                             ...         ...      ...         ...       ...
995         jburdettrn@reuters.com  mastercard  $620.44  08/01/2021  19:15:26
996  adeavenellro@seattletimes.com  mastercard  $376.22  26/01/2021  20:47:28
997               sowainrp@nyu.edu  mastercard  $295.99  22/02/2021   7:10:56
998          sbuddlerq@archive.org  mastercard   $73.09  17/02/2021  19:53:52
999   mbrookesbierr@slideshare.net  mastercard  $634.13  21/03/2021   6:00:05

[1000 rows x 5 columns]